@media(max-width: 1024px) {
    .contact .google-map {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .contact__content {
        grid-template-columns: 1fr;
    }

    .contact__description {
        text-align: center;
    }

    .contact .social-media {
        justify-content: center;
    }

    .contact .current-openings ul li {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

@media(max-width: 475px) {
    .contact {
        padding: 30px;
    }
}

@media(max-width: 375px) {
    .contact .current-openings h2::after {
        font-size: 13px;
        padding: 0 10px;
    }
}