
.calendar-overlay {
    width: 100%;
    height: 695px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    z-index: 99;
    align-items: center;
    justify-content: center;
    padding-top: 95px;
    display: none;
}

.calendar-overlay.show {
    display: flex;
}

.calendar {
    width: 300px;
    border: 3px solid #f0f0f0;
    position: relative;
    text-transform: uppercase;
    background-color: #e5e5e5;
}

.calendar h3 {
    text-align: center;
    padding: 10px 0;
    background-color: #3299a3;
    font-weight: normal;
    font-size: 16px;
}

.calendar .month-btn {
    text-align: center;
    padding: 10px 0;
    background-color: #365769;
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.calendar .month-btn .fas {
    right: 20px;
    position: absolute;
}

.calendar .month-btn:hover::after {
    display: none;
}

.calendar .days-heading {
    background-color: #264452;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .days {
    font-size: 14px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    height: max-content;
    text-align: center;
    height: 100%;
}

.calendar .days li.active {
    color: #333333;
    background-color: #fff;
    cursor: pointer;
}

.calendar .days li.active:hover {
    background-color: #3299a3;
    color: #fff;
}


.calendar .days li {
    background-color: #f5f5f5;
    color: #ddd3cc;
    cursor: not-allowed;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days li p {
    padding: 5px 0;
}

.calendar .close {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: -15px;
    background-color: #3299a3;
    border: 3px solid #f0f0f0;
    font-size: 13px;
    font-weight: 700;
}

.calendar .close:hover {
    background-color: #1ecdde;
}

.calendar .close:hover::after {
    display: none;
}
